body {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 400;
  background: #393E46;
  max-width: 100%;
  color: #EEEEEE;
}

.titulos {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.centrar__titulos {
  text-align: center;
  margin-top: 1.8rem;
}